*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.live-icon {
    position: relative;
}

.video__icon {
    position: absolute;
    width: 50px;
    right: 0;
    top: -9px;
}

.video__icon .circle--outer {
    border: 1px solid #e50040;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 auto 5px;
    position: relative;
    opacity: .8;
    -webkit-animation: circle 2s ease-in-out infinite;
    animation: circle 2s ease-in-out infinite;
    top: 10px;
    left: 14px;
}

.video__icon .circle--inner {
    background: #e50040;
    left: 35px;
    top: 18px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    opacity: .8;
}

.video__icon .circle--inner:after {
    content: '';
    display: block;
    border: 2px solid #e50040;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: -3px;
    left: -3px;
    position: absolute;
    opacity: .8;
    -webkit-animation: circle 2s ease-in-out .2s infinite;
    animation: circle 2s ease-in-out .2s infinite;
}

.video__icon p {
    color: #000;
    text-align: center;
}

@-webkit-keyframes circle {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes circle {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}
